.product-wrapper{
    display: flex;
    justify-content: space-between;
.product-item{
    width: 23%;

 img{
    width: 100%;
    border: 1px solid #c0c0c0;
    height: 150px;
    padding:2px;
}
.product-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

}}
button{
    display: block;
    width: 100%;
    border: 0;
    border-radius: 6px;
    background-color: #2a5ea2;
    color: #fff;
    padding: 7px;
}