.product-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-wrapper .product-item {
  width: 23%;
}
.product-wrapper .product-item img {
  width: 100%;
  border: 1px solid #c0c0c0;
  height: 150px;
  padding: 2px;
}
.product-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 6px;
  background-color: #2a5ea2;
  color: #fff;
  padding: 7px;
}

.product-info img {
  display: block;
  width: 40%;
  margin: 20px auto;
}
.product-info p {
  color: #2a5ea2;
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}