.filter-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #3a3a3a;
  background-color: #fff;
}
.filter-wrapper .filter-title {
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #2a5ea2;
}
.filter-wrapper > div {
  padding: 5px 20px;
  margin-bottom: 13px;
}
.filter-wrapper select {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}